@charset "utf-8";

/* 
  referência de responsividade:
  sm >= 576px
  md >= 768px
  lg >= 992px
  xl >= 1200px
   */
.opacity{
  opacity: 0.7;
}
.carrinho:hover{
  color: #066bd7 !important;
}
.fav:hover{
  color: #FF0000!important;
}
.user:hover{
  color: #066bd7 !important;
}
nav:hover{
  opacity: 1;
}
.he1{
  background-image: url('../assets/image/bebe.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 50vh;
}
/* estilo para favoritar um produto */
.like{
  color: red!important;
}
a:link {
  text-decoration: none;
}
li{
  list-style: none;
}
/* legenda cards  */
 .Tlegenda{
  top: 1%;
  right: 14%;
  text-align: center;
 }
 /* icone favoritar */
.i {
  z-index: 1;
  position: absolute;
  color: white;
  top: 13%;
  left: 75%;
  margin-top: 5px;
}



@media screen and (max-width:575px) {
  .sideBar{display: none;}
}
@media screen and (min-width:350px) and (orientation:landscape){
  .prg{
    font-size: 2.2vw!important;
  }
  .land{
display: inline;
  }
  .lands{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .sideBar{
    box-sizing: border-box;
    text-overflow: clip;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 24%;
    min-height: 100%; 
    position: fixed;
    overflow-y: auto;
  }
  .he1{
    background-image: url('../assets/image/bebe.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 85vh;
  } 
}
@media screen and (min-width:574px)  {
  .sideBar{
    text-align: center;
    margin: 0;
    padding: 0;
    width: 24%;
    height: 100vh; 
    position: fixed;
    overflow-y: auto;
  }
  .he1{
    background-image: url('../assets/image/bebe.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 45vh;
  } 
  h5{
    font-size: 2.8vw;
    text-shadow: 1px 3px 2px black;
  }
   .sombra{
    font-size: 1.2vw;
    text-shadow: 1px 3px 2px black;
 
  }
  .mar{
    margin-left: 25%;
  }

  body section{
    margin-top: 65px;
  }
  .Tlegenda{
    top: 1%;
    right: 20%;
    text-align: center;
   }
   /* icone favoritar */
  .i {
    font-size: 1vw;
    z-index: 1;
    position: absolute;
    color: white;
    top: 13%;
    left: 66%;
    margin-top: 5px;
  }

}
@media screen and (min-width:768px){
  .he1{
    background-size: cover;
    height: 75vh;
  }
}
@media screen and (min-width:992px){
  .he1{
    height: 75vh;
  }
}

@media screen and (min-width:1200px){
  .im{
    margin-left: 20;
  }
  .he1{
    height: 95vh;
  }
  h5{
    font-size: 1.8vw;
  }
  .Tlegenda{
    top: 1%;
    right: 24%;
    text-align: center;
   }
  .i {
    font-size: 2vw;
    z-index: 1;
    position: absolute;
    color: white;
    top: 13%;
    left: 66%;
    margin-top: 5px;
  }
}
@media screen and (min-width:1366px){
  .Tlegenda{
    top: 1%;
    right: 32%;
    text-align: center;
   }
   .i {
    font-size: 2vw;
    z-index: 1;
    position: absolute;
    color: white;
    top: 13%;
    left: 56%;
    margin-top: 5px;
  }
}
@media screen and (min-width:1540px){
  .he1{
    background-image: url('../assets/image/bebe.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 85vh;
  } 
  .Tlegenda{
    top: 1%;
    right: 49%;
    text-align: center;
   }
}
@media screen and (min-width:1920px){
  .Tlegenda{
    top: 1%;
    right: 49%;
    text-align: center;
   }
  .i {
    top: 13%;
    left: 55%;
    font-size: 1.8vw!important;
  }
  h5{
    font-size: 1.8vw;
  }
  header > p{
  font-size: 2.5vw;  
  }
  
}




