@charset "utf-8";
/* 
d = div
d 1,2,3,4....
= recebera se houver mais de uma div
s = section
h = header
ar = article
as = aside
fo = footer

*/
.opacity{
  opacity: 0.7;
}
nav:hover{
  opacity: 1;
}
.d {
 height: 10vh;
}
.carousel-inner{
  margin-left: 13%;
}


.h {
  background-image: url('../assets/image/header1000x667.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 80vh;
}

@media screen and (max-width: 768px){
.mm{
  margin: 4px ;
}
.op{
  opacity: 0.0!important;
}
.mar{
  margin-left: auto;
}
}
@media screen and (min-width:576px) {

}
@media screen and (min-width:768px) {
  .h {
    background-image: url('../assets/image/header1000x667.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 45vh;
  }
  .titulo1{
    font-size: 6vw;
  }
  .carousel-inner{
    margin-left: 13%;
  }
  
}
@media screen and (min-width:992px) {
  .carousel-inner{
    margin-left: auto;
    margin-right: auto;
  }
  .h {
    background-image: url('../assets/image/header1000x667.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%-2%;
    height: 87vh;
  }
}
@media screen and (min-width:1600px) {
  .carousel-inner{
    margin-left: 19%;
  }
  .carousel-caption {
    position: absolute;
    right: 25%;
    bottom: 20px;
    left: 13%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -3px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 11%;
  margin-left: 15%;
  list-style: none;
  }
}
@media screen and (min-width:1920px) {
  .carousel-caption {
    position: absolute;
    right: 41%;
    bottom: 20px;
    left: 13%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  .carousel-indicators {
    margin-right: 18%;

  }
  .carousel-inner{
    margin-left: 22%;
  }
}